body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #605C5C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23605C5C'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFF9F6' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFF9F6' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.fundo {
    background: rgb(236, 236, 236);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    height: 200px;
    padding: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 80%;
}


div h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 20px auto;
}

.espaco {
    width: 370px;
    height: 100px;
    border: 2px dashed gray;
    cursor: pointer;
}

.espaco .imagem {
    transition: 0.25s ease-in-out;
}

.espaco:hover .imagem {
    transform: rotate(180deg) scale(1.0);
}

.imagem {
    width: 15%;
    margin: 15px auto;
    opacity: 0.8;
}

div .espaco p {
    margin: -10px auto;              /* ISSO AQUI TÁ UMA CORNISSE MAS DEPOIS AJEITO, TÁ FUNCIONANDO */
    opacity: 30%;
    font-size: 15px;
}